:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */

  --primary-color: #3166EA;
  --error-text-color: #F04438;
}

html, body {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}