.chat-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
  background-image: linear-gradient(to right, rgb(37 99 235), rgba(14 165 233));
  color: white;
}

.chat-header-title {
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  padding-left: 16px;
}

.conversation-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.conversation-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 10px 0px;
}

.chat-icon-container {
  margin: 0px 4px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.chat-icon {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.chat-icon-text {
  width: 100%;
  height: 100%;
  background-color: #007fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
}

.qa-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 44px;
  word-break: break-all;
}

.question-content {
  align-items: flex-end;
}

.qa-text {
  padding: 10px 12px;
  box-sizing: border-box;
}

.question-text {
  background-color: rgb(225 239 254);
  border-radius: 6px 0px 6px 6px;
}

.answer-content {
  align-items: flex-start;
}

.answer-text {
  background-color: rgb(243 244 246);
  border-radius: 0px 6px 6px 6px;
}

.answer-text-error {
  color: #F04438;
}
