.responding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-height: 40px;
  margin: 0px 0px 8px 48px;
  border-radius: 6px;
  background-color: rgb(243 244 246);
}

.dot-flashing {
  position: relative;
  animation: 0.6s infinite linear alternate;
  animation-delay: 0.3s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  animation: 0.6s infinite linear alternate;
}

.dot-flashing::before {
  animation-delay: 0s;
}

.dot-flashing::after {
  animation-delay: 0.6s;
}

@keyframes dot-flashing {
  0% {
    background-color: #667085;
  }

  50%,
  100% {
    background-color: rgba(102, 112, 133, 0.3);
  }
}

.dot-flashing-text,
.dot-flashing-text::before,
.dot-flashing-text::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #667085;
  color: #667085;
  animation-name: dot-flashing;
}

.dot-flashing-text::before {
  left: -7px;
}

.dot-flashing-text::after {
  left: 7px;
}